.footer-row {
    background-color: #1f76ac;
    border: 1px solid white;
    color: white;
    font-size: 20px;
    padding-top: 20px;
    text-shadow: 2px 2px 1px black;
    transition: all 0.2s ease-in-out;
}

.footer-row:hover {
    background-color: #156190;
    border: 1px solid black;
}

.hyperlink {
    color: white !important;
    text-decoration: underline !important;
}