/* .bodybackground {
    transition: all ease-in-out 1s;
    background-color: rgb(238, 238, 238);

} */

/* .bodybackground.active {
    background-color: rgb(148, 148, 148);
} */

/* --------------------------------------- */

.frontpage-row {
    background-color: rgba(238, 238, 238, 0.63);

    padding: calc(30px + 4vmax) 0px 150px 0px;
    /* box-shadow: inset 0px 0px calc(10px + 2vmax) black; */
    border: 1px solid black;
    transition: 0.4s all ease-in-out;
}

.frontpage-row:hover {
    background-color: rgba(238, 238, 238, 0.739);
    border: 1px solid white;
}

/* --------------------------------------- */

.picOfMe {
    width: calc(250px + 10vmax);
    transition: 0.2s all ease-in-out;
    -webkit-filter: drop-shadow(2px 2px 3px #000000);
        filter: drop-shadow(4px 4px 0px #ffffff);
    
}

.picOfMe:hover {
    transform: scale(1.05);
}

.fp-skill-row {
    margin-top: 20px;
}

.fp-title {
    font-size: 90px;
    font-family: 'Pacifico', cursive;
}

.fp-bio {
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Alata', sans-serif;
}

.fp-skill {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.fp-skill:hover {
    font-size: 30px;
    text-decoration: underline !important;
}

.contact-me-btn {
    margin-top: 20px;
    background-color: #1f76ac;
    color: white;
    font-size: 25px;
    outline: none;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    width: 180px;
    height: 60px;
    box-shadow: 1px 1px 5px black;
}

.contact-me-btn:hover {
    background-color: #125783;
    border: 2px solid rgb(255, 255, 255);
    width: 200px;
}

/* ------------------------------------------------------------ */

.info-row {
    background-color: rgb(104, 104, 104);
    border: 1px solid black;
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.info-row:hover {
    background-color: rgb(87, 87, 87);
    border: 1px solid rgb(255, 255, 255);

}

.info-section {
    background-color: #1f76ac;
    margin: -80px 5px 0px 5px;
    border: 1px solid rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    font-family: 'Alata', sans-serif;
    color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px black;
    text-shadow: 1px 1px 0px black;
    height: 550px;
}

.info-section:hover {
    background-color: #125783;
    margin-top: -88px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px -2px 15px black;
}

.info-title {
    font-size: 37px;
    font-weight: bold;
    text-decoration: underline;
}

.info-bio {
    font-size: 23px;
}

.info-pencil {
    margin: 20px 0px;
    width: 130px;
    -webkit-filter: drop-shadow(2px 2px 3px #000000);
        filter: drop-shadow(2px 2px 0px #000000);
}

.info-computer {
    width: 175px;
    -webkit-filter: drop-shadow(2px 2px 3px #000000);
        filter: drop-shadow(2px 2px 0px #000000);
}

.info-internet {
    width: 180px;
    -webkit-filter: drop-shadow(2px 2px 3px #000000);
        filter: drop-shadow(2px 2px 0px #000000);
}

/* --------------------------------------------------------- */

.skills-row {
    background-color: rgb(200, 200, 200);
}