/* .bodybackground {
    transition: all ease-in-out 1s;
    background-color: rgb(238, 238, 238);

} */

/* .bodybackground.active {
    background-color: rgb(148, 148, 148);
} */

/* --------------------------------------- */


.frontpage-row {
    background-color: rgba(238, 238, 238, 0.63);
    padding: calc(10px + 6vmax) 0px calc(10px + 6vmax) 0px;
    /* box-shadow: inset 0px 0px calc(10px + 2vmax) black; */
    border: 1px solid black;
    transition: 0.4s all ease-in-out;
}

.frontpage-row:hover {
    background-color: rgba(238, 238, 238, 0.68);
    border: 1px solid white;
}

.background-vid {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 2000px !important;
    height: 1080px !important;
    padding: 0px !important;
}


/* --------------------------------------- */

.picOfMe {
    width: calc(80px + 19vmax);
    transition: 0.2s all ease-in-out;
    background-color: rgba(207, 207, 207, 0.527);
    border-radius: 250px;
    border: 5px solid #0000006e;   
    filter: drop-shadow(0 0 0.75rem rgb(6, 63, 100));
}

.picOfMe:hover {
    transform: scale(1.05);
}

.fp-skill-row {
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .fp-skill-row {
        text-align: center;
    }
}

.fp-title {
    font-size: calc(22px + 3vmax);
    font-family: 'Pacifico', cursive;
}

.fp-subtitle {
    font-size: calc(9px + 1vmax);
    margin-top: -15px;
    margin-left: 20px;
    font-family: 'Alata', sans-serif;
}

.apple-link, .resume-link {
    color: rgb(31, 83, 133) !important;
    text-decoration: none !important;
}

.apple-link:hover, .resume-link:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    color: rgb(4, 20, 34) !important;
}

.fp-bio {
    font-size: calc(7px + 1.3vmax);
    font-family: 'Alata', sans-serif;
}

.fp-email {
    font-size: calc(7px + 1.3vmax);
    font-family: 'Alata', sans-serif;
    text-shadow: 0px 0px 4px rgb(124, 124, 124);
}

.fp-skill {
    font-size: calc(6px + 1.1vmax);
    transition: all 0.2s ease-in-out;
    font-weight: bold;
}

.fp-skill:hover {
    font-size: calc(6px + 1.15vmax);
    text-decoration: underline !important;
}


.fp-hyperlink {
    color: #1f76ac !important;
    text-shadow: 1px 1px 0px black;
}

.fp-hyperlink:hover {
    color: #125783 !important;
}

.contact-me-btn {
    background-color: #1f76ace5;
    color: white;
    font-size: calc(15px + 0.3vmax);
    outline: none;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    width: calc(130px + 7vmax);
    height: 60px;
    text-shadow: 1px 1px 1px black;
}

.contact-me-btn:hover {
    background-color: #1f76ac;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 5px black;
    width: calc(130px + 10vmax);
}

.email-link {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}

/* --------------------------------------------------------- */

.work-row {
    background-color: rgb(218, 218, 218);
    border: 1px solid black;
    padding: calc(10px + 4vmax) 0px calc(10px + 4vmax) 0px;
    transition: all 0.2s ease-in-out;
}

.work-row:hover {
    background-color: rgb(199, 199, 199);
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(255, 255, 255);
}

.work-row-title {
    font-family: 'Pacifico', cursive;
    font-size: calc(32px + 2vmax);
}

.sub-title {
    font-size: calc(10px + 1.1vmax);
    margin-bottom: 20px;
}
  
.project-image {
    margin-top: 35px;
    width: calc(157px + 18vmax);
    height: auto;
    border: 2px solid black;
}

/* ==================================== */
/* PROJECT 1 - TOPSTOCKER */
/* ==================================== */
.project-row {
    background-color: rgb(175, 175, 175);
    padding: 20px;
    border: 2px solid rgb(109, 109, 109);
    width: 90% !important;
    margin-bottom: 15px;
    transition: all 0.2s ease-in-out;
}

.project-row:hover {
    background-color: rgb(165, 165, 165);
    box-shadow: 0px 4px 10px black;
    width: 90.2% !important;
    border: 2px solid rgb(255, 255, 255);
}

.project-title {
    font-size: calc(25px + 1.1vmax);
    font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.project-desc {
    font-size: calc(5px + 1.1vmax);
}

.shortcut-btn {
    background-color: #1f76ac;
    margin-right: 20px;
    font-size: 20px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
    color: white;
    border: 2px solid black;
}

.shortcut-btn:hover {
    background-color: #125783;
    box-shadow: 0px 1px 5px black;
    border: 2px solid rgb(255, 255, 255);
}

/* --------------------------------------------------------- */
/* EDUCATION ROW */
/* --------------------------------------------------------- */

.education-row {
    background-color: rgb(177, 177, 177);
    border: 1px solid rgb(0, 0, 0);
    padding-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

.education-row:hover {
    background-color: rgb(168, 168, 168);
    border: 1px solid rgb(255, 255, 255);
}

.edu-title {
    padding-top: calc(40px + 1.1vmax);
    font-size: calc(15px + 1.1vmax);
    font-weight: bolder;
}

.edu-date {
    font-size: calc(13px + 1.1vmax);
    font-weight: bold;
    margin-top: -20px;
}

.edu-bio {
    font-size: calc(6px + 1.1vmax);
}

.edu-bio2 {
    font-size: calc(2px + 1.2vmax);
}

.edu-img {
    width: calc(40% + 35vmin);
    height: auto;
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    margin: calc(50px - 1vmax) 0px;
}

.edu-img:hover {
    width: 68%;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

@media only screen and (max-width: 812px) {
    .fp-title, .fp-bio, .fp-email {
        text-align: center;
    }
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

