.navbar {
    display: flex;
    align-items: center;
    height: calc(130px - 4vmax);
    transition: all 0.1s ease-in-out;
    background-color: white;
  }
  
  .navbar-title {
    flex-grow: 1; /* Add flex-grow property to occupy remaining space and push navbar-links-col to the right */
    display: flex; /* Add display: flex to align text vertically */
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
  }
  
  .navbar-links-col {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
  }

  .navbar-link {
    margin: 0px 20px;
    text-decoration: none !important;
    color: black !important;
  }  