@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ----------------------------------- */

.mainContainer {
  font-family: 'Roboto', sans-serif !important;
  margin: 0;
  padding: 0;
}

body {
    background-color: #001a30;
    margin: 0;
    padding: 0;
    color: #ebebeb;
}

/* Define the fade-in animation */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}
