p {
    margin: 0 !important;
}

.FrontPageRow {
    margin: 10em 80px !important; /* Gives our shortcuts room to breathe at the bottom left and right */
    max-width: 80%;
    justify-content: center;
}

.info-panel-left {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
}

.info-panel-right {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
}

/* ------------------------------------ */

.socialMediaLink {
    color: white !important;
}

/* ------------------------------------ */

.title {
    font-size: 18px;
    color: #9ecdff !important;
}

.name-title {
    font-size: 80px;
    font-weight: bold;
}

.what-i-do {
    margin-top: -20px !important;
    font-size: 60px;
    font-weight: bold;
    color: #797979 !important; 
}

.mini-bio {
    margin-top: 15px !important;
    font-size: 17px;
    max-width: 70%;
}

.myResumeBtn {
    text-decoration: none;
    color: #9ecdff;
    border: 1px solid #9ecdff;
    padding: 10px;
    border-radius: 5px;
}

.myResumeBtn:hover {
    background-color: #6298d173;
    color: #9ecdff !important;
}

/* Below we are resizing the info panels and FrontPageRow to fit the screen size when it's below 768px */
@media (max-width: 767px) {
    .info-panel-left, .info-panel-right {
      display: none; /* hide info-panel-left below 768px */
    }

    .FrontPageRow {
        margin: 0px 20px !important; /* Gives our shortcuts room to breathe at the bottom left and right */
    }
  }