/* Navbar.css */
.navbar {
    padding: 10px; /* Add padding as needed */
    border: 1px solid black; /* TEMP: Add border for visibility */
  }
  
  .navbar-title {
    font-size: 24px; /* Set your desired font size */
    font-weight: bold; /* Set your desired font weight */
    margin: 0; /* Reset margin */
  }
  
  .navbar-links-col {
    display: flex; /* Use flexbox for alignment */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically within the column */
  }
  
  .navbar-link {
    margin-left: 35px; /* Add margin between links as needed */
    text-decoration: none; /* Remove underline */
    color: #000000 !important; /* Set your desired link color */
  }
  
  .navbar-link:hover {
    color: #6298d1 !important; /* Set your desired link color on hover */
  }

  .resume-link {
    border: 1px solid #6298d1; /* Set your desired border color */
    border-radius: 5px;
  }

  .resume-link:hover {
    background-color: #6298d173;
    color: #0b2847 !important;
  }
  
  /* Add any additional styling as needed */
  