.navbar-row {
    background-color: rgba(104, 104, 104, 0.945);
    height: 70px;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0px 5px 10px;
    padding: 0px !important;
    border: 1px solid rgb(39, 39, 39);
}

.navbar-row:hover {
    background-color: rgba(88, 88, 88, 0.959);
    border: 1px solid rgb(255, 255, 255);
}

.logo {
    width: 40px;
    -webkit-filter: drop-shadow(0px 1px 1px #000000);
        filter: drop-shadow(0px 2px 5px #000000);
}


/* ------------------------------------------ */


.navbar-link-col {
    padding: 0px !important;
}

.navbar-link {
    color: white;
    font-size: calc(10px + 1.1vmax);
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    text-shadow: 2px 2px 0px black;
    margin: 0px calc(1px + 0.2vmax);
    font-family: 'Alata', sans-serif;
}

.navbar-link:hover {
    font-size: calc(10px + 1.2vmax);
    text-decoration: none;
    color: #2584be;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);

}


/* ------------------------------------------ */

.shortcut-col {
    padding: 0px !important;
}

.shortcut-icon {
    font-size: 30px;
    color: rgb(255, 255, 255);
    transition: 0.2s all ease-in-out;
    -webkit-filter: drop-shadow(0px 1px 1px #000000);
        filter: drop-shadow(0px 2px 0px #000000);
}

.shortcut-icon:hover {
    font-size: 30px;
    -webkit-filter: drop-shadow(0px 1px 5px #000000);
    filter: drop-shadow(0px 3px 2px #000000);
}

.mail-icon:hover {
    color: rgb(224, 79, 79);
}

.discord-icon:hover {
    color: rgb(103, 103, 182);
}

.github-icon:hover {
    color: black;
}

.linkedin-icon:hover {
    color: rgb(56, 137, 212);
}

.instagram-icon:hover {
    color: rgb(184, 45, 209);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}