@import url('https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&display=swap');

body {
    background-color: var(--color1); 
}

/* SCROLL BAR: */

/* width */
::-webkit-scrollbar {
    width: 12px;
    transition: all 0.3s ease-in-out !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #727272; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1f76ac; 
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #125783; 
    border: 2px solid rgb(0, 0, 0);
  }